div#root {
    align-items: center;
    display: flex;
    border: 1px solid #a8a8a8;
    border-radius: 10px;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem 0;
    width: 30%;
}

form {
    margin: 1rem;
}

button {
    margin: 0.25rem 1rem;
}

input {
    background-color: #ececec;
    border: none;
    font-size: 16px;
    margin: 8px 0;
    width: 100%;
}

input[type=checkbox], input[type=radio] {
    width: 2rem;
}

label {
    font-weight: 600;
}

p {
    margin: 0 0 0.5rem 0;
    text-decoration: underline;
}

code {
    background-color: #ececec;
    padding: 1rem;
    margin: 0 1rem;
}